$colors: (
	'blanc':#fff,
	'bleu': #283b6b,
	'noir' : #000,
	'noir-titre' : #19171a,
	'noir-texte' : #070809,
	'noir-fond' : #020304,
	'gris-fond' : #f9f9fb,
	'gris-decor' : #e0e0e2,
	'gris-texte' : #f9f9f9,
	'beige' : #e8e3e1,

);

:root {
	@each $name, $color in $colors {
	
	--#{$name} : #{$color};
	}

}


@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
	a.wp-block-button__link.has-#{$name}-background-color {
		border:solid 1px $color;
		&:focus, &:hover {
			background-color:transparent;
			color:$color;
			border-color:$color;
			text-decoration: none;
		}
	}


}



