:root {
	--font-texte: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-titre: "Halant", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--padding-lien:.75rem 1.25rem;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: #070809;
	color: var(--noir-texte);
	font-family: sans-serif;
	font-family: var(--font-texte);
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.2;
}


h1,
h2,
h3
{
	clear: both;
	color: #19171a;
	color: var(--noir-titre);
	font-family: var(--font-titre);
	font-weight: 500;
	line-height: 1.2;
	text-transform: uppercase;
}

h1 {
	margin:1em 0;
	padding:20px;
	text-align:center;
}
h2, h3 {
	margin:0 0 1em;
}

h1 {
	font-size: 1.75rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}


@include bp(md) {

	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2.25 rem;
	}

	h3 {
		font-size: 1.25rem;
	}
}

p {
	margin-bottom: 0.5rem;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

mark,
ins {
	background: var(--beige);
	text-decoration: none;
}

small, .has-small-font-size  {
	font-size: 80%;
}

.has-regular-font-size {
	font-size: 1rem;
}

big, .has-big-font-size  {
	font-size: 125%;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}
