

/*--------------------------------------------------------------
## All pages
--------------------------------------------------------------*/
.page-title {
	text-align:center;
}


/*--------------------------------------------------------------
## Post single
--------------------------------------------------------------*/
.single .entry-content {
	margin-bottom:2rem;
}

.single .entry-meta, .single .entry-footer {
	font-style:italic;
}

.single article {
	margin-bottom:2rem;
	padding-bottom:1rem;
	border-bottom:solid 1px var(--grey);
}
.single .post-navigation {
	background-color:var(--light-grey);
	padding:1rem;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}



.updated:not(.published) {
	display: none;
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}