
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/


.site-footer {
	align-items:center;
	background-color:var(--noir-fond);
	color:var(--gris-texte);
	display: flex;
	flex-direction: column;
	font-size:13px;
	justify-content:center;
	padding:3px;
	text-align: center;


	ul.menu {
		display:flex;
		list-style: none;
		margin:0;
		padding:0;
		li:not(:first-of-type) {
			&::before {
				content:'|';
				padding:0 10px;
			}
		}
	}

	@include bp(md) {
		flex-direction:row;
		padding:10px;
		> div:not(:first-of-type) {
			position :relative;
			margin-left:20px;
			&::before {
				content:'|';
				position: absolute;
				left:-12px;
				top:0;
			}
		}
	}

}

.site-footer a {
	color:var(--gris-texte);
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: underline;
	}
}


