
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/


.site-footer {
	background-color:var(--noir-fond);
	color:var(--gris-texte);
	font-size:13px;
	padding:1rem;
	text-align: center;
}

.site-footer a {
	color:var(--gris-texte);
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: underline;
	}
}
