.site-header {
	align-items:center;
	background-color:var(--beige);
	display: flex;
	justify-content: center;
	height:100px;
	overflow-y: visible;
	padding: 0 var(--padding-x);
	position: relative;
	z-index:2;
}
.site-branding {
	align-self: flex-start;
	position: relative;
	height:0;
}
a.custom-logo-link {
	background-color:var(--beige);
	display: inline-block;
	padding-bottom:10px;
	position:relative;
	top:20px;
}
.custom-logo {
	max-width:223px;	
}