.site-header {
	align-items: center;
	background-color: var(--blanc);
	display: flex;
	height:var(--header-height);
	justify-content: space-between;
	left: 0;
	padding: 0 var(--padding-x);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.custom-logo {
	max-width: 100px;
}

@include bp(md) {
	.site-header {
		justify-content: center;
		overflow-y: visible;
	}

	.site-branding {
		align-self: flex-start;
		position: relative;
		height: 0;
	}

	a.custom-logo-link {
		display: inline-block;
		
		position: relative;
		top: 20px;
	}
	.custom-logo {
		background-color:var(--blanc);
		max-width: 223px;
		padding: 0 40px 30px;
	}
}